body{
    margin: 0;
    padding: 0;
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #df3e28);
    background-size: 100% 100%;
    animation: gradient-animation 10s ease infinite;
  }
  .contain{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
   
    justify-content: center;
    
    
  }
  .heading{
    position: absolute;
   font-size:  100px;
   padding: 0;
  
   text-align: center;
  }
  
  h1{
    font-family: 'Dancing Script', cursive;
  }
  
  h2{
    font-family: 'Dancing Script', cursive;
  }
  
.p{
    font-size: 40px;
}
@media(max-width:400px){
    .contain{
        width: auto;
        height: 100vh;
        margin: 0;
        padding: 0;
        border: 0;
       
}
.play{

  border-radius: 10px;
  border: solid black;
  width: 60px;
  text-align: center;
  margin-left: 50px;
 }

h1{
    font-size: 60px;
}

.heading{
  position: absolute;
 font-size: 80px;
 padding: 0;
 font-weight: bolder;

 text-align: center;
}
.refrsh-me{
  padding-left: 80px;
 }
 .p{
  font-size: 30px;
 }
  

}
.para{
  font-family: 'Dancing Script', cursive;
  margin-top: auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 35px;
  margin-bottom: 10px;
  color: rgb(41, 7, 72);
}

.Second{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 1fr;
    margin-top: 200px;
   
}

  

.img{
  position: absolute;


 margin-left: auto;
 margin-right: auto;
 height: 70px;
 
}
.refrsh-me{
 padding-left: 40px;
}

.p1-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headclass{
  display: flex;
 
}

.play{

  border-radius: 10px;
  border: solid black;
  width: 60px;
  text-align: center;
  margin-left: 30px;
 }


 

